*,
::before,
::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

img,
video {
    display: block;
    max-width: 100%;
    height: auto;
}

input,
textarea,
select,
button {
    font: inherit;
}
